@import '~cryptocoins-icons/webfont/cryptocoins.css';
@import '~cryptocoins-icons/webfont/cryptocoins-colors.css';

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.content {
  margin-left: 256px;
}

a.active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.container {
  margin: 30px;
}
